<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <tr>
        <td class="user_image">
          <% if @customer.image.attached? %>
          <%= image_tag @customer.image, size: "200x200"  %>
          <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        </td>
      </tr>
    </div>
    <div class="col-lg-4">
     <div class="my_page">
        <div class="label">ID:<%= @customer.id %></div>
     </div>
     <div class="my_page">
        <div class="label"><%= @customer.name %></div>
     </div>
     <div class="my_page">
        <div class="label2">
          <div class="bt"><%= button_to "編集", edit_customer_path(@customer.id),method: :get %></div>
          <div class="bt"><%= button_to "いいね一覧", my_favorites_customer_cheats_path(customer_id: @customer.id),method: :get %></div>
        </div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="profile_box">
        <h5>自己紹介</h5>
        <div class="profile"><%= @customer.profile %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <h4>コメント履歴</h4>
    <div class="col-lg-12">
      <%= render 'public/comments/comments', { comments: @comments } %>
    </div>
  </div>
</div>