<div class="container">
  <h4>プラットフォーム編集</h4>
  <div style="text-align:center;">
    <div class="row">
      <div class="col-lg-12">

        <% if @platform.errors.any? %>
          <%= @platform.errors.count %>件のエラーが発生しました
          <ul>
            <% @platform.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @platform, url: admin_platform_path(@platform.id),method: :patch do |f| %>
        <table class="table table-striped">
          <tr>
            <td>プラットフォーム名</td>
            <td><%= f.text_field :name %></td>
          </tr>

          <tr>
           <td><%= f.submit '更新' %></td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>