<div class="container">
  <h4>プラットフォーム登録</h4>
  <div style="text-align:center;">
    <div class="row">
      <div class="col-lg-12">

        <% if @platform.errors.any? %>
          <%= @platform.errors.count %>件のエラーが発生しました
          <ul>
            <% @platform.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @platform, url: admin_platforms_path,method: :post do |f| %>
        <table class="table table-striped">
          <tr>
            <td>プラットフォーム名</td>
            <td><%= f.text_field :name %></td>
          </tr>

          <tr>
           <td><%= f.submit '新規登録' %></td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <h4>プラットフォーム一覧</h4>
        <% @platforms.each do |platform| %>
        <tr>
           <td>
             <%= link_to(serch_path(platform_id: platform.id)) do %>
              <strong> <%= platform.name %> </strong>
             <% end %>
           </td>
           <td><%= button_to "編集", edit_admin_platform_path(platform.id), method: :get %></td>
           <td><%= button_to "削除", admin_platform_path(platform.id), method: :delete , data: { confirm: "削除しますか？"} %></td>
        <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>