<%= render 'public/titles/title', { title: @title } %>

<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <table class="table table-striped">
        <h4>最新情報</h4>
        <% @informations.each do |information| %>
        <tr>
          <td><%= link_to information.name, title_information_path(title_id: @title.id, id: information.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-5">
      <table class="table table-striped">
        <h4>攻略一覧</h4>
        <% @cheats.each do |cheat| %>
        <tr>
          <td><%= link_to cheat.name, title_cheat_path(title_id: @title.id, id: cheat.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <tr>
          <h4>キャラクター一覧</h4>
        </tr>
        <tr>
          <td>敵味方</td>
          <td>名前</td>
        </tr>
        <% @characters.each do |character| %>
        <tr>
          <td><%= character.iff_method_i18n %></td>
          <td><%= link_to character.name, title_character_path(title_id: @title.id, id: character.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <%= render 'public/comments/form_title', { title: @title, comment: @title } %>

  <%= render 'public/comments/comments', { comments: @comments } %>
</div>