<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <tr>
        <td class="user_image">
          <% if @customer.image.attached? %>
          <%= image_tag @customer.image, size: "200x200"  %>
          <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        </td>
      </tr>
    </div>
    <div class="col-lg-8">
     <div class="my_page">
        <div class="label">ID:<%= @customer.id %></div>
     </div>
     <div class="my_page">
        <div class="label"><%= @customer.name %></div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="profile_box">
        <h5>自己紹介</h5>
        <div class="profile"><%= @customer.profile %></div>
      </div>
    </div>
  </div>
</div>