<%#= render 'public/titles/title', { title: @title } %>

<div class="container">
  <div class="box" align="center">
    <div><h4><%= @character.name %>詳細</h4></div>
  </div>
  <div class="box" align="center">
    <table class="table table-striped">
      <tr>
        <td>属性</td>
        <td><%= @character.attribution_method_i18n %></td>
      </tr>
      <tr>
        <td>必殺技</td>
        <td><%= @character.skill %></td>
      </tr>
      <tr>
        <td>必殺技詳細</td>
        <td><%= @character.skill_detail %></td>
      </tr>
    </table>
  </div>

  <%= render 'public/comments/form_character', { character: @character, comment: @comment } %>

  <%= render 'public/comments/comments', { comments: @comments } %>
</div>