
<div class="container">
  <h4>攻略登録</h4>
  <div style="text-align:center;">
    <div class="row">
      <div class="col-lg-12">
        <%= form_with model: @cheat, url: admin_title_cheat_path ,method: :patch do |f| %>
        <table class="table table-striped">
          <tr>
            <td>攻略タイトル</td>
            <td><%= f.text_field :name %></td>
          </tr>

          <tr>
            <td>難易度</td>
            <td>
              <div id="evaluate_stars">
                <%= f.hidden_field :evaluation ,:value => 'score' %>
              </div>
            </td>
          </tr>

          <tr>
            <td>ボスキャラクター名</td>
            <%# binding.pry %>
            <!--<td><%#= f.collection_select :enemy_id, options_from_collection_for_select(@enemys, :id, :name) %></td>-->
            <%#= f.collection_select :enemy_id Enemy.all, :id, :name %>
            <td><%= f.collection_select :enemy_id, @enemys, :id, :name %></td>
          </tr>

          <tr>
            <td>攻略内容</td>
            <td><%= f.text_area :cheat_detail %></td>
          </tr>

          <tr>
            <td>推奨キャラクター</td>
            <td><%= f.collection_select :ally_id, @ally, :id, :name %></td>
          </tr>

          <tr>
           <td><%= f.submit '更新' %></td>
          </tr>
          
        </table>
        <% end %>
        <script>
         $('#evaluate_stars').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          score: <%= @cheat.evaluation %>,
          scoreName: 'cheat[evaluation]'
          });
        </script>
      </div>
    </div>
  </div>
</div>